%% Common project erlang options.
{erl_opts, [
    % mandatory
    debug_info,
    warnings_as_errors,
    warn_export_all,
    warn_missing_spec,
    %% warn_untyped_record, FIXME ASAP!!!! Problem in thrift_protocol.hrl#L23
    warn_export_vars,

    % by default
    warn_unused_record,
    warn_bif_clash,
    warn_obsolete_guard,
    warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_deprecated_function

    % at will
    % bin_opt_info
    % no_auto_import
    % warn_missing_spec_all
]}.

%% Common project dependencies.
{deps, [
    {prometheus, "4.6.0"},
    {prometheus_cowboy, "0.1.8"},
    {genlib, {git, "https://github.com/rbkmoney/genlib.git", {branch, "master"}}},
    {woody, {git, "https://github.com/rbkmoney/woody_erlang.git", {branch, "master"}}},
    {damsel, {git, "https://github.com/rbkmoney/damsel.git", {branch, "release/erlang/master"}}},
    {mg_proto, {git, "https://github.com/rbkmoney/machinegun_proto.git", {branch, "master"}}},
    {dmt_core, {git, "https://github.com/rbkmoney/dmt_core.git", {branch, "master"}}},
    {scoper, {git, "https://github.com/rbkmoney/scoper.git", {branch, "master"}}},
    {erl_health, {git, "https://github.com/rbkmoney/erlang-health.git", {branch, master}}},
    {how_are_you, {git, "https://github.com/rbkmoney/how_are_you.git", {branch, "master"}}},

    % TODO move to the test profile as soon as compose quirks get fixed
    {dmt_client, {git, "git@github.com:rbkmoney/dmt_client.git", {branch, "master"}}}
]}.

%% XRef checks
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_functions_calls,
    deprecated_functions
]}.

% at will
% {xref_warnings, true}.

%% Tests
{cover_enabled, true}.

%% Dialyzer static analyzing
{dialyzer, [
    {warnings, [
        % mandatory
        unmatched_returns,
        error_handling,
        race_conditions
        % unknown %% need fix
    ]},
    {plt_apps, all_deps}
]}.

{profiles, [
    {prod, [
        {deps, [
            {woody_api_hay, {git, "https://github.com/rbkmoney/woody_api_hay.git", {ref, "4c39134cd"}}},
            {logger_logstash_formatter,
                {git, "https://github.com/rbkmoney/logger_logstash_formatter.git", {ref, "87e52c755"}}},
            % for introspection on production
            {recon, "2.5.2"},
            {observer_cli, "1.5.4"}
        ]},
        {relx, [
            {release, {dominant, "0.1"}, [
                % tools for introspection
                {recon, load},
                % remote introspection
                {observer_cli, load},
                % debugger
                {runtime_tools, load},
                % profiler
                {tools, load},
                woody_api_hay,
                sasl,
                logger_logstash_formatter,
                dmt_api
            ]},
            {mode, minimal},
            {sys_config, "./config/sys.config"},
            {vm_args, "./config/vm.args"},
            {extended_start_script, true}
        ]}
    ]}
]}.

{plugins, [
    {erlfmt, "1.0.0"}
]}.

{erlfmt, [
    {print_width, 120},
    {files, ["{src,include,test}/*.{hrl,erl,app.src}", "rebar.config"]}
]}.
