%% Common project erlang options.
{erl_opts, [
    {parse_transform, lager_transform},

    % mandatory
    debug_info,
    warnings_as_errors,
    warn_export_all,
    warn_missing_spec,
    %% warn_untyped_record, FIXME ASAP!!!! Problem in thrift_protocol.hrl#L23
    warn_export_vars,

    % by default
    warn_unused_record,
    warn_bif_clash,
    warn_obsolete_guard,
    warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_deprecated_function

    % at will
    % bin_opt_info
    % no_auto_import
    % warn_missing_spec_all
]}.

%% Common project dependencies.
{deps, [
    {genlib     , {git, "https://github.com/rbkmoney/genlib.git",       {branch, "master"}}},
    {woody      , {git, "git@github.com:rbkmoney/woody_erlang.git",     {branch, "master"}}},
    {dmsl       , {git, "git@github.com:rbkmoney/damsel.git", {branch, "release/erlang/epic/rbk_wallets"}}},
    {mg_proto   , {git, "git@github.com:rbkmoney/machinegun_proto.git", {branch, "master"}}},
    {dmt_core   , {git, "git@github.com:rbkmoney/dmt_core.git",         {branch, "master"}}},
    {lager      , "3.2.1"},
    {lager_logstash_formatter, {git, "git@github.com:rbkmoney/lager_logstash_formatter.git", {branch, "master"}}},
    {scoper     , {git, "git@github.com:rbkmoney/scoper.git", {branch, "master"}}},
    {erl_health , {git, "https://github.com/rbkmoney/erlang-health.git", {branch, master}}},

    % TODO move to the test profile as soon as compose quirks get fixed
    {dmt_client, {git, "git@github.com:rbkmoney/dmt_client.git", {branch, "master"}}}

]}.

%% XRef checks
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_functions_calls,
    deprecated_functions
]}.

% at will
% {xref_warnings, true}.

%% Tests
{cover_enabled, true}.

%% Relx configuration
{relx, [
    {release, {dominant, "0.1"}, [
        dmt_api
    ]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

%% Dialyzer static analyzing
{dialyzer, [
    {warnings, [
        % mandatory
        unmatched_returns,
        error_handling,
        race_conditions
        % unknown %% need fix
    ]},
    {plt_apps, all_deps}
]}.

{profiles, [

    {test, [
        {deps, [
        ]}
    ]},

    {prod, [
        {deps, [
            % for introspection on production
            {recon, "2.3.2"}
        ]},
        {relx, [
            {release, {dominant, "0.1"}, [
                {recon        , load     }, % tools for introspection
                {runtime_tools, load     }, % debugger
                {tools        , load     }, % profiler
                sasl,
                dmt_api
            ]},
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}

]}.

{plugins, [
    rebar3_run
]}.

