[
    {dmt_api, [
        {automaton_service_url, "http://machinegun:8022/v1/automaton"}
    ]},
    {lager, [
        {error_logger_redirect, true},
        {crash_log, false},
        {log_root, "/var/log/dominant"},
        {handlers, [
            {lager_file_backend, [
                {file, "console.json"},
                {level, debug},
                {formatter, lager_logstash_formatter}
            ]}
        ]}
    ]}
].
