[
    {kernel, [
        {logger_sasl_compatible, false},
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                config => #{
                    type => file,
                    file => "/var/log/dominant/console.json"
                },
                formatter => {logger_logstash_formatter, #{}}
            }}
        ]}
    ]},

    {dmt_api, [
        {repository, dmt_api_repository_v4},
        {migration, #{
            timeout => 360,
            limit   => 20
        }},
        {automaton_service_url, "http://machinegun:8022/v1/automaton"},
        {ip, "::"},
        {port, 8022},
        {transport_opts, #{
            request_timeout => 60000  % http keepalive timeout in ms
        }},
        {max_cache_size, 52428800}, % 50Mb
        {health_checkers, [
            {erl_health, disk     , ["/", 99]       },
            {erl_health, cg_memory, [99]            },
            {erl_health, service  , [<<"dominant">>]}
        ]}
    ]},

    {os_mon, [
        % for better compatibility with busybox coreutils
        {disksup_posix_only, true}
    ]},

    {scoper, [
        {storage, scoper_storage_logger}
    ]}
].
